@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove scrollbar */
* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.light {
  --cursor_border_color: #f25042;
  --cursor_background_color: #020826;
}

.dark {
  --cursor_border_color: #7f5af0;
  --cursor_background_color: #fffffe;
}

html {
  overscroll-behavior-x: none;
}

body {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
}

body :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Oswald', sans-serif;
}


/* PROGRESS BAR */
progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: linear-gradient(to left, #7f5af0, #f25042);
  background-attachment: fixed;
}

progress::-moz-progress-bar {
  background: linear-gradient(to left, #7f5af0, #f25042);
  background-attachment: fixed;
}

.intro-svg {
  width: 310px;
}

@media screen and (min-width:412px) and (max-width:639px) {
  .intro-svg {
    width: 400px;
  }
}

.loading-dom {
  animation: fadeOut 1s ease calc(1.5s) forwards;
}

.scroll-link {
  writing-mode: vertical-lr;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(0)
  }
}